fastapi
uvicorn[standard]
langchain
langchain-community
langchain-core
langchainhub
groq
chromadb
PyMuPDF
pytesseract
Pillow
pdf2image
unstructured
python-dotenv
numpy
pandas
aiofiles
sentence-transformers
transformers
fastapi[all]